---
layout: null
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Config
@import "config";

// Vendors
@import "susy";
@import "material";

// Utils
@import "utils/normalize";

// Atoms
@import "atoms/headings";

// Molecules
@import "molecules/header";
@import "molecules/footer";
@import "molecules/video";

body {
  background-color: $space-apps-nyc-blue;
}

.container {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1em;
}

main {
  background: url('../../images/lightgrid.gif') 0 0 repeat;
  padding-bottom: 2em;
}

a {
  color: $space-apps-nyc-red;
}

.hero {
  height: 30em;
  background-image: url("/images/world-trade.jpg");
  background-position: center;
  background-size: cover;
  position: relative;

  h1 {
    padding: 1em;
    margin: 0;
    color: $white;
    font-size: 6em;
    position: absolute;
    bottom: 0;
    font-weight: 900;
    text-shadow: 0 0 1px $black, 5px 5px $space-apps-nyc-blue;
  }
}

.title {
  font-size: 5em;
  color: $space-apps-nyc-red;
  text-align: center;
  margin: 1em 0;
}
