---
layout: default
title: Space Apps NYC | About
---

<div class="container hero">
  <div class="inner">
    <img src ="images/logo.png" />
  </div>
</div>

<div class="container ltgrid">
  <div class="inner cf about">
   
      <h2>WHAT IS THE INTERNATIONAL SPACE APPS CHALLENGE?</h2>
      <p>The 2013 International Space Apps Challenge is a technology development and problem solving event during which citizens from around the world collaborate to tackle challenges relevant to improving life on Earth and the exploration of space. Join us in over 75 cities around the world or at home!</p>
      <p>Organized by the New York Technology Council, StartupBus NYC and AlleyNYC.</p>  
    
 
      <h2>STILL NOT CONVINCED?</h2>
      <p>Because NYC did a phenomenal job last year, NASA has designated New York City as the international flagship site and will receive a special guest appearance from an actual NASA astronaut!</p>
      <div class="cf" style="margin-bottom: 16px;">
        <div class="col1 fl">
          <h2>WHEN ?</h2>
          <p>April 20-21, 2013</p>  
        </div>
        <div class="col2 fl">
          <h2>WHERE ?</h2>
          <p>AlleyNYC, 500 Seventh Avenue, 17th Floor</p>
        </div>
      </div>
            <a href="http://spaceappschallenge.org/" target="_blank" class="register" style="display: block; margin-bottom: 24px;">Register Now!</a>
  </div>
</div>


{% include video.html %} 
    
    <div class="whowhat cf" style="margin-bottom: 48px;">
      <div class="col1 fl">
        <h2>WHO SHOULD PARTICIPATE?</h2>
        <p>Developers, designers, thinkers, researchers, scientists and other technology-focused individuals. You are committed to building new technologies, generating fresh ideas, and creating powerful solutions that advance the state of space exploration missions, science, and social good on Earth. <span style="font-weight: 400;">*Prior hacking experience NOT required.</span></p>  
      </div>
      <div class="col2 fl">
        <h2>THE JUDGES</h2>
        <ul> To be announced...
        </ul>
      </div>
    </div>
        
  </div>
</div>

{% include slideshow.html %}