---
layout: default
title: Home | Space Apps NYC
class: home
hero: home-hero.html
---

<section id="livestream">
  <div class="container">
    <h1>2018 NASA Space Apps Challenge Livestream</h1>
    <div class="video">
      <iframe id="livestream-video" src="https://www.youtube.com/embed/cSoDAzIzTf0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<script>
  if (Date.UTC(2018, 9, 21, 17) - Date.now() <= 0) {
    document.getElementById('livestream-video').setAttribute('src', 'https://www.youtube.com/embed/mK0AT9vHsY4');
  }
</script>

<section class="wave">
  <div class="container -text">
    <div class="video">
      <iframe src="https://www.youtube.com/embed/mo4Ispe3O3w" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

{% include event-details.html %}

<section class="wave">
  <div class="container -text">
    <h2>WATCH OUR 2017 HACKATHON DEMOS</h2>
    <div class="video">
      <iframe src="https://www.youtube.com/embed/paGOAIlkxMU" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="signup container">
  <img src="/images/redesign/website-10@2x.png" class="hashtag--red" />
  {% include signup.html %}
</section>