.awards {
  display: flex;

  &--main, &--aside {
    display: flex;
  }

  &--main {
    flex-wrap: wrap;

    .award {
      width: calc(24% - 2px);

      @media (max-width: 60em) {
        width: 100%;
      }
    }
  }

  @media (max-width: 60em) {
    flex-direction: column;
  }
}

.award {
  background-color: $white;
  padding: 1em;
  margin: 2px;

  &--name {
    margin-bottom: 0.3em;
    color: $grey;
  }

  a {
    font-weight: bold;
  }

  i {
    float: left;
    margin-right: 0.5em;
  }

  @media (max-width: 60em) {
    width: 100%;
  }
}
