.event-details {
  text-align: center;
  position: relative;
  margin-top: 10em;

  a {
    display: block;
    font-weight: lighter;
    font-size: 1.5em;
  }

  h2 {
    @media (min-width: 60em) {
      margin-bottom: 2em;
    }
  }
}

.locations {
    text-align: center;
    margin-bottom: 4em;

    @media (max-width: 60em) {
      margin-bottom: 3em;
    }

    img {
      width: 270px;
      margin-bottom: 1.5em;
    }
  }

  .dates {
    img {
      margin-top: -2em;
      margin-bottom: -2em;

      @media (max-width: 60em) {
        display: none;
      }
    }
  }

  .date {
    align-items: flex-start;

    &:first-of-type {
      @media (min-width: 60em) {
        padding-right: 5em;
      }
    }

    &:last-of-type {
      @media (min-width: 60em) {
        padding-left: 5em;
      }
    }

    &--header {
      margin-bottom: 0.5em;
      color: $grey;
      letter-spacing: 2px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &--content {
      color: $blue;
      font-size: 2.85em;
      font-weight: lighter;
    }
  }
