.event-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .location + .location {
    margin-left: 5em;
  }

  .date {
    width: 100%;
  }

  h1 {
    color: $black;

    small {
      display: block;
      margin: 0.5em 0;
    }
  }

  img {
    height: 10em;
  }
}
