.event-details {
  text-align: center;
  position: relative;
  
  @include extra-large-screen {
    margin-top: 10em;
  }

  a {
    display: block;
    font-weight: lighter;
    font-size: 1.5em;
  }

  h2 {
    @include extra-large-screen {
      margin-bottom: 2em;
    }
  }
}

.locations {
  text-align: center;
  margin-bottom: 4em;

  @include small-screen {
    margin-bottom: 3em;
  }

  img {
    width: 270px;
    margin-bottom: 1.5em;
  }
}

.location {
  h3 {
    color: $grey;
    letter-spacing: 2px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2.85em;
  }
}

.dates {
  overflow: hidden;

  img {
    margin-top: -2em;
    margin-bottom: -2em;

    @include small-screen {
      display: none;
    }
  }
}

.date {
  align-items: flex-start;

  &:first-of-type {
    @include extra-large-screen {
      padding-right: 5em;
    }
  }

  &:last-of-type {
    @include extra-large-screen {
      padding-left: 5em;
    }
  }

  &--header {
    margin-bottom: 0.5em;
    color: $grey;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--content {
    color: $color-highlight;
    font-size: 2.85em;
    font-weight: lighter;
  }
}
