.site-footer {
  color: $white;
  padding: 1em 0;
  background-color: $space-apps-nyc-blue;

  small {
    display: block;
  }
  dt {
    font-weight: normal;
  }
}

.mdl-mega-footer--left-section, .mdl-mega-footer__left-section {
  padding: 0 1em;
}
