.site-header {
  background-image: url("/images/redesign/grid-grid-mask.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include not-small-screen {
    padding-top: 2em;
    margin-bottom: 3em;
  }

  &::after {
    display: block;
    content: "";

    @include not-small-screen {
      padding-bottom: 46%;
    }
    @include small-screen {
      padding-bottom: 65%;
    }
  }

  .container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include small-screen {
      padding-top: 1em;
    }
  }

  .hero {
    max-width: 40em;
  }
}
