$image-size: 50px;

.organizers {
  @extend .cards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.organizer {
  text-align: center;
  padding: 1em 0;

  &.--small {
    padding: 0.5em;
    position: relative;
    font-size: 0.9em;
    z-index: 0;

    &:hover {
      img {
        opacity: 0.1;
        z-index: -1;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      max-width: #{$image-size * 2};
      max-height: #{$image-size * 2};
      z-index: 0;
    }

    @media (min-width: 60em) {
      width: #{$image-size * 2};
      height: #{$image-size * 2};
    }
  }

  img {
    border-radius: 4px;
    max-width: #{$image-size * 3};
    max-height: #{$image-size * 3};
  }

  &--name {
    font-size: 1.4em;
    font-weight: bold;
  }

  &--title {
    font-size: 1.2em;
    font-variant: all-small-caps;
  }

  @media (min-width: 60em) {
    width: 25%;
  }
}
