.partners {
  @extend .cards;
  flex-wrap: wrap;
}

.partner {
  @extend .card;
  justify-content: flex-start;
  text-align: justify;

  @media (min-width: 60em) {
    max-width: 50%;
  }

  &--logo {
    margin-bottom: 2em;
  }

  &--link {
    display: block;
  }

  img {
    display: block;
    max-height: 6em;
    max-width: 100%;
  }
}
