.speakers {
  @extend %card-styling;
  padding: 0;
}

.speaker {
  @extend .card;
  flex-direction: row;

  & + & {
    border-top: 1px solid $light-grey;
  }

  &--name {
    margin-bottom: 1rem;
  }

  &--photo {
    max-width: 15em;
    margin-right: 3em;
  }

  &--title, &--organization {
    display: inline;
  }

  &--title {
    &::after {
      display: inline-block;
      content: "";
      margin-right: 0.5em;
    }
  }

  &--organization {
    color: $color-primary;

    &::after {
      display: block;
      content: "";
      margin-bottom: 1.5rem;
    }
  }
}
