.sponsor-categories {
  @extend .cards;
  display: block;
}

.sponsor-category {
  display: flex;
}

.sponsor {
  margin-bottom: 3em;
  display: flex;
  align-items: center;

  img {
    display: block;
    max-height: 10em;
    max-width: 15em;
  }
}
