.sponsor-categories {
  @extend %card-styling;
  @extend .card;
  display: block;
  text-align: center;
  padding: 3em
}

.sponsor-category {
  display: flex;
  justify-content: center;
}

.sponsor {
  margin-bottom: 3em;
  display: flex;
  align-items: center;

  img {
    display: block;
    height: 10em;
  }
}
