.timeslot {
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;
  padding: 1em;
  align-items: center;

  &:nth-child(odd) {
    background-color: $off-white;
  }

  &--time {
    min-width: 7em;
  }
  &--name {
    flex-grow: 1;
    text-align: center;
  }
  &--speakers {
    width: 30em;
    padding-left: 2em;
  }
}
