.video {
  position: relative;
  text-align: center;
  box-shadow: 0 0 10px #222;

  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    padding-bottom: 56%;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  h2 {
    position: relative;

    @include extra-large-screen {
      margin-top: -6em;
    }
  }
}
