<section class="hero">
    <h1>DATA BOOTCAMP</h1>
    <p>The <em>Space Apps NYC Bootcamp</em> is a series of workshops designed to connect Space Apps Challenge hackers
        to tools and information which will prepare them for the hackathon.</p>
    <p>The bootcamp has two main themes: technology and science. We organize workshops run by our tech sponsors in
        which hackers are onboarded onto software tools and cloud platforms meant to improve the quality of their
        projects. We also organize science talks in which scientists from NASA and local academic institutions give in
        depth presentations on space science topics related to this year's Space Apps Challenge.</p>
    <p>Having attended the Space Apps NYC Bootcamp, hackers will be better equipped to choose a challenge, form a team,
        and then hit the ground running when the hackathon begins!</p>
</section>