<footer class="container">
  <div class="inner">
    <div class="sponsors">
      <h2>Sponsors</h2>
      <ul>
        <li><a href="http://www.nasa.gov/" target="_blank">
          <img src ="images/nasa.gif" alt="nasa"/>
        </a></li>
        <li><a href="http://aws.amazon.com/" target="_blank">
          <img src ="images/amazon.gif" alt="amazon"/>
        </a></li>
        <li><a href="http://www.twilio.com/" target="_blank">
          <img src ="images/twilio.gif" alt="twilio"/>
        </a></li>
        <li><a href="http://cartodb.com/" target="_blank">
          <img src ="images/carto.gif" alt="cartodb"/>
        </a></li>
        <li><a href="http://www.nysci.org/" target="_blank">
          <img src ="images/nysci.gif" alt="nysci"/>
        </a></li>
        <li><a href="http://www.squarespace.com/" target="_blank">
          <img src ="images/sponsor_sqrspace.gif" alt="SquareSpace"/>
        </a></li>
        <li><a href="http://www.freshdirect.com/" target="_blank">
          <img src ="images/sponsor_freshdirect.gif" alt="Fresh Direct"/>
        </a></li>
      </ul>
    </div>
    
    <p style="font-size: 14px;color: #909090;">500 SEVENTH AVENUE NEW YORK, NY 10018 USA   /   (646) 435-1088   /   SPACEAPPS@NYTECH.ORG</p>
    <p style="color: #555555;">DESIGNED AND DEVELOPED WITH THE HELP OF SAVAGECORP x BROOKS (PROFESSIONAL CAT HERDER)</p>
  </div>
</footer>


   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>