<footer class="container">
  <div class="inner">
    <div class="sponsors">
      <h2>Sponsors</h2>
      <ul>
        <li><a href="#">Nasa</a></li>
        <li><a href="#">Amazon</a></li>
        <li><a href="#">Twilio</a></li>
        <li><a href="#">CartoDB</a></li>
        <li><a href="#">NYSci</a></li>
      </ul>
    </div>
    <h5>500 SEVENTH AVENUE NEW YORK, NY 10018 USA   /   (646) 435-1088   /   SPACEAPPS@NYTECH.ORG</h5>
    <p>DESIGNED AND DEVELOPED WITH THE HELP OF SAVAGECORP x BROOKS (PROFESSIONAL CAT HERDER)</p>
  </div>
</footer>


   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>