<footer class="container">
  <div class="inner">
    <div class="sponsors">
      <h2>Sponsors</h2>
      <ul class="cf">
        <li><a href="http://www.twilio.com/" target="_blank">
          <img src ="images/twilio_med.png" alt="twilio"/>
        </a></li>
        <li><a href="http://touchlab.co/" target="_blank">
          <img src ="images/touchlab_med.png" alt="touchlab"/>
        </a></li>
        <li style="margin-right: 0px;"><a href="http://www.samsung.com/us/" target="_blank">
          <img src ="images/samsumg_med.png" alt="Samsung"/>
        </a></li>
      </ul>
    </div>
    
    <p>500 SEVENTH AVENUE NEW YORK, NY 10018 USA   /   (646) 435-1088   /   <a href="mailto:SPACEAPPS@NYTECH.ORG" target="_blank">SPACEAPPS@NYTECH.ORG</a></p>
    
    <p class="collab">DESIGNED AND DEVELOPED WITH THE HELP OF <a href="http://dribbble.com/savagecorp" target="_blank">SAVAGECORP</a> x <a href="https://github.com/bswinnerton" target="_blank">BSWINNERTON</a>
      <img src="images/poweredbysquarespace.png" align="right" ></p>
    
  </div>
</footer>


   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
