<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Space Apps NYC">
  <!-- <meta property="og:image" content="{{ "/assets/logo_90x90.png" | prepend: site.baseurl }}"> -->
  <meta property="og:url" content="http://spaceapps.nyc">
  <meta property="og:description" content="">
  <meta itemprop="name" content="Space Apps NYC">
  <meta itemprop="description" content="">
  <!-- <meta itemprop="image" content="{{ "/assets/logo_90x90.png" | prepend: site.baseurl }}"> -->
  <title>{{ page.title }}</title>

  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Bungee:300,400,700" rel="stylesheet" type="text/css" />
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
</head>
