<section class="hero">
  <img src="images/redesign/hackathon@2x.png" alt="Hackathon" />
  <img src="images/redesign/conference@2x.png" alt="Conference" />
  <h1>We are Space Apps NYC</h1>
  <p>A grassroots space hacker community grown from the <a href="spaceappschallenge.org">NASA Space Apps Challenge</a>,
    founded to improve life on Earth and further the exploration of space. At over {{ site.members }} members, we're
    the largest regional community of this type in the world, established in 2012 – and we’re creating a next
    generation space science &amp; technology hub in New York City.</p>
  {% include registration-button.html %}
</section>