<section class="hero">
    <h1>Judges and Mentors</h1>
    <p>Space Apps NYC choses influencers from its space hacker community to judge the Space Apps Challenge. Together
        they are experts in space science, technology, and entrepreneurship, and will choose New York's global
        nominees.</p>
    <p>Our team of mentors volunteer their time to assist hackers over the weekend in areas of software, hardware,
        project planning, project presentations, space science, and Earth science. All mentors are available through
        our online communication tools.</p>
    <a href="mailto:organizers@spaceapps.nyc" target="_blank" class="button -black">Volunteer your services as a Judge
        or Mentor</a>
</section>