<header class="site-header mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a href="/" class="site-header--home mdl-layout-title">
      <img src="images/space_apps_nyc/SA_logo_280px_white.png" alt="Space Apps NYC" />
    </a>
    <div class="mdl-layout-spacer"></div>
    <nav class="site-nav mdl-navigation">
      <a class="mdl-navigation__link" href="about">About Us</a>
      <a class="mdl-navigation__link" href="organizers">Organizers &amp; Partners</a>
      <a class="mdl-navigation__link" href="conduct">Code of Conduct</a>
      <a class="mdl-navigation__link" href="https://github.com/spaceappsnyc" target="_blank">Github</a>
      <a class="mdl-navigation__link" href="http://www.meetup.com/Space-Apps-NYC/" target="_blank">Meetup</a>
      <div class="mdl-navigation__link">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"disabled target="_blank">Hackathon Registration</a>
      </div>
    </nav>
  </div>
</header>
