<nav class="site-nav">
  <a class="site-nav--left" href="/">
    <img src="/images/redesign/logo.svg" />
  </a>
  <div class="site-nav--right">
    <a class="site-nav--link" href="/">Home</a>
    <a class="site-nav--link" disabled>Event Schedule</a>
    <a class="site-nav--link" href="organizers">Organizers &amp; Partners</a>
    <a class="site-nav--link" href="http://bit.ly/SANCodeOfConduct" target="_blank">Code of Conduct</a>
    <a class="fa fa-twitter" href="https://twitter.com/spaceappsnyc" target="_blank"></a>
    <a class="fa fa-facebook" href="https://www.facebook.com/spaceappsnewyorkcity" target="_blank"></a>
    <a class="fa fa-github" href="https://github.com/spaceappsnyc" target="_blank"></a>
    <a class="fa fa-meetup" href="http://www.meetup.com/Space-Apps-NYC/" target="_blank"></a>
    {% include registration-button.html %}
  </div>
</nav>
