<header class="container">
  <div class="inner">
    <ul class="cf">
      {% if page.url == "/index.html" %}
      <li class="active">{% else %}<li>{% endif %}
        <a href="index.html">Home<br/>&nbsp;</a>
      </li>
      {% if page.url == "/about.html" %}
      <li class="active">{% else %}<li>{% endif %}
        <a href="about.html">About<br/>&nbsp;</a>
      </li>
      {% if page.url == "/videos.html" %}
      <li class="active">{% else %}<li>{% endif %}
        <a href="videos.html">Videos<br/>&nbsp;</a>
      </li>
      {% if page.url == "/organizers.html" %}
      <li class="active">{% else %}<li>{% endif %}
        <a href="organizers.html">Organizers<br /> & Partners</a>
      </li>
      {% if page.url == "/faq.html" %}
      <li class="active">{% else %}<li>{% endif %}
        <a href="faq.html">Frequent<br/> Questions</a>
      </li>
      {% if page.url == "/conduct.html" %}
      <li class="active">{% else %}<li>{% endif %}
        <a href="conduct.html">Code of<br/>Conduct</a>
      </li>
      {% if page.url == "/sponsors.html" %}
      <li class="active">{% else %}<li>{% endif %}
        <a href="sponsors.html">Sponsor<br/> Us</a>
      </li>
      <li>
        <a href="https://github.com/spaceappsnyc" target="_blank">Github<br/> Repos</a>
      </li>
      <li>
        <a href="https://www.meetup.com/Space-Apps-NYC/" target="_blank"><img src="images/meetup_logo-2x.png" height="45" width="68"></a>
      </li>

      <li class="fr">
        <a href="http://2014.spaceappschallenge.org/location/new-york/" target="_blank" class="register">
          Register Today!
        </a>
      </li>
      <li class="fr">
        <span>APRIL 10 - 12 2015</span><br/> LOCATION TBD
      </li>
    </ul>
  </div>
</header>
