<section class="hero">
    <h1>THE TEAM BEHIND <strong>SPACE APPS NYC</strong></h1>
    <p><strong>Organizers</strong> are volunteers who are ultimately responsible for the hackathon success. They recruit
        sponsors, secure venues, manage marketing campaigns, schedule speakers, and run the event. All of our organizers
        are volunteers from the Space Apps community.</p>
    <p><strong>Organizing Partners</strong> are other organizations who assist in planning and running the event.</p>
    <p><strong>Sponsors</strong> make financial contributions in exchange for recruiting and marketing opportunities,
        product evangelism, and brand promotion.</p>
    <p><strong>Partners</strong> help market the event and make a variety of non-financial contributions to its success.
    </p>
    <a class="button -black" href="mailto:organizers@spaceapps.nyc">Join the Space Apps Team</a>
</section>