<section class="hero">
    <h1>THE TEAM BEHIND <span style="font-size:1.5em;">SPACE&nbsp;APPS&nbsp;NYC</span></h1>
    <p><strong>Organizers</strong> are ultimately responsible for the hackathon success. They recruit sponsors, secure venues, manage marketing campaigns, scheduling speakers, and run the event. All of our organizers are volunteers from the Space Apps community.</p>
    <p><strong>Organizing Partners</strong> make significant contributions to the event in both time and resources.</p>
    <p><strong>Sponsors</strong> make financial contributions in exchange for recruiting opportunities and a precense at the event.</p>
    <p><strong>Partners</strong> help spread the word and make a variety of contributions.</p>
</section>