<div class="container ltgrid">
  <div class="inner">
    <h2 style="text-align: center;">SPACE APPS NYC 2012 PHOTOS</h2>
    <div id="slideshow">
      <div><img src="images/slideshow/space1.jpg"></div>
      <div><img src="images/slideshow/space2.jpg"></div>
      <div><img src="images/slideshow/space3.jpg"></div>
      <div><img src="images/slideshow/space4.jpg"></div>
      <div><img src="images/slideshow/space5.jpg"></div>
      <div><img src="images/slideshow/space6.jpg"></div>
      <div><img src="images/slideshow/space7.jpg"></div>
      <div><img src="images/slideshow/space8.jpg"></div>
      <div><img src="images/slideshow/space9.jpg"></div>
      <div><img src="images/slideshow/space10.jpg"></div>
      <div><img src="images/slideshow/space11.jpg"></div>
      <div><img src="images/slideshow/space12.jpg"></div>
    </div>
  </div>
</div>