<section class="hero">
    <h1>WHAT IS THE SPACE APPS CHALLENGE?</h1>
    <p>The NASA Space Apps Challenge is a worldwide NASA Incubator Innovation program. Grassroots organizers from all
        across the planet stage a weekend-long hackathon at their local site where teams of technologists, scientists,
        designers, artists, educators, entrepreneurs, developers, students, and anyone else interested in space
        exploration can collaborate with their fellow global citizens and utilize publicly available data to design
        innovative solutions for challenges posed by NASA, other governmental agencies, NGOs, and a variety of
        institutions.</p>
    <p>Basically you get to work directly with NASA to save the world. Pretty cool, huh?</p>
    <p>Space Apps NYC is New York City's Space Apps Challenge site, and is locally organized by its {{
        site.member_count }}+ member community.</p>
</section>