<div class="sponsors">
  <ul class="cf">
    <li>
      <a href="" target="_blank">
        <img src="images/blank_med.png" alt="" />
      </a>
    </li>
    <li>
      <a href="http://nasaisac.mybluemix.net/" target="_blank">
          <img src="images/ibmbluemix.png" alt="IBM Bluemix" />
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        <img src="images/blank_med.png" alt="" />
      </a>
    </li>
  </ul>
  <ul class="cf">
    <li>
      <a href="http://www.twilio.com/" target="_blank">
        <img src="images/twilio_logo.png" alt="twilio" />
      </a>
    </li>
    <li>
      <a href="http://www.about.com/" target="_blank">
        <img src="images/sponsors_2015/about-white.png" alt="About.com" />
      </a>
    </li>
    <li>
      <a href="http://www.wolfram.com/" target="_blank">
        <img src="images/wolfram2.png" alt="Wolfram" />
      </a>
    </li>
  </ul>
  <ul class="cf">
    <li>
      <a href="http://www.spacex.com/" target="_blank">
        <img src="images/SpaceX_white.png" alt="SpaceX" />
      </a>
    </li>
    <li>
      <a href="http://www.kubos.co/" target="_blank">
        <img src="images/kubos_logo.png" alt="" />
      </a>
    </li>
    <li>
      <a href="http://developer.amazon.com/ask" target="_blank">
        <img src="images/amazon_logo.png" alt="Amazon Alexa" />
      </a>
    </li>
  </ul>
  <ul class="cf">
    <li>
      <a href="http://www.microsoft.com/" target="_blank">
        <img src="images/sponsors_2015/microsoft-white.png" alt="Microsoft" />
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        <img src="images/blank_med.png" alt="" />
      </a>
    </li>
    <li>
      <a href="http://www.socrata.com/" target="_blank">
        <img src="images/sponsors_2015/socrata-white.png" alt="Socrata" />
      </a>
    </li>
  </ul>
</div>
