.page-about {
  main {
    .border-image:first-of-type {
      margin-top: -5em;
    }

    section:first-of-type {
      @extend %card-styling;

      @media (min-width: 60em) {
        margin-top: 3em;
        padding: 3em 3em 2em;
      }
    }
  }
}
