.page-space-apps-challenge {
    .site-header {
        &::after {
            @include small-screen {
                padding-bottom: 130%;
            }
        }
    }

    .content {
        p {
            font-size: 1.4em;
        }
    }

    #table-of-contents {
        margin: 0;
        font-family: $primary-font;
        list-style-type: decimal-leading-zero;

        li {
            margin-bottom: 0.5em;
        }
    }
}
