@mixin container {
  max-width: 80em;
  position: relative;
  z-index: $container-z-index;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;

  &.-text {
    max-width: 100%;
    width: 60em;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  background-color: $white;
  background-image: url("/images/redesign/grid.png");
  font-size: 14px;
  font-family: "Roboto Condensed", Helvetica, sans-serif;

  @include small-screen {
    font-size: 13px;
  }
}

.container {
  @include container;
}

section {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
}

a {
  color: $color-highlight;
  text-decoration: none;
}

.border-image {
  width: 100%;
  display: block;
}

small {
  font-size: 0.85em;
}

p {
  margin: 0 0 1em;
  line-height: 1.5;
  font-weight: lighter;
}

ul {
  margin: 0 0 1em;
}

main {
  @include small-screen {
    padding-top: 1rem;
  }
}
