$card-padding: 3em;
$card-padding-small: 2em;

%card-styling {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 169, 0.09);
  background-color: $white;
  padding: 2em;
  max-width: 100%;

  @media (max-width: 60em) {
    padding: 1em;
  }
}

.cards {
  @extend %card-styling;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: $card-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;

  @media (max-width: 60em) {
    padding: $card-padding-small;
  }
}
