.hashtag {
  &--blue,
  &--red,
  &--white {
    width: 200px;
    position: absolute;

    @include small-screen {
      display: none;
    }
  }
  &--blue {
    left: 0;
    top: -7em;
  }
  &--red {
    right: 0;
    top: -10em;
  }
}
