h1, h2, h3 {
  font-family: "Bungee", "Roboto Condensed", Helvetica, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 2.85em;
}

h2 {
  font-size: 2.15em;
}

h3 {
  font-size: 1em;
  color: $grey;
}
