.hero {
  color: $white;

  img {
    width: 10em;

    @media (max-width: 1200px) {
      display: none;
    }
  }
  a {
    color: inherit;
  }
  h1 {
    margin-top: 1.5rem;

    @media (max-width: 60em) {
      font-size: 1.9em;
    }
  }
  p {
    @media (max-width: 60em) {
      display: none;
    }
  }
}
