.hero {
  color: $white;

  @include small-screen {
    padding: 0;
  }

  img {
    width: 10em;

    @include medium-screen {
      display: none;
    }
  }
  a {
    color: inherit;
  }
  h1 {
    @include small-screen {
      margin-top: -6rem;
      margin-left: 5rem;
      font-size: 2em;
    }

    strong {
      @include small-screen {
        font-size: 1.2em;
      }
      @include not-small-screen {
        white-space: nowrap;
      }
    }
  }
  p {
    font-size: 1.2em;
  }
}
