/* style.scss */
body {
  font: 16px/1.625em "Roboto Condensed", sans-serif;
  font-weight: 400;
  background: #e9e9e9; }

.ltgrid {
  background: url("../../images/lightgrid.gif") 0 0 repeat;
  border-top: 1px solid #222222; }

.dknoise {
  background: url("../../images/darknoise.gif") 0 0 repeat; }

.txtlft {
  text-align: left; }

.txtrgt {
  text-align: right; }

h1 {
  font-size: 3.25em;
  font-weight: 300;
  line-height: 1em; }

h2 {
  font-size: 2em;
  font-weight: 300;
  margin-top: 32px; }
  h2 span {
    font-size: 16px;
    font-weight: 700; }

p {
  font-size: 1.125em; }

.hero p {
  font-weight: 300; }

.container {
  width: 100%; }
  .container .inner {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    border: 1px solid transparent; }

header {
  border-bottom: 1px solid #282828;
  background: #222222;
  /* Old browsers */
  background: -moz-linear-gradient(top, #222222 0%, #333333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #333333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #222222 0%, #333333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #222222 0%, #333333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #222222 0%, #333333 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #222222 0%, #333333 100%);
  /* W3C */ }
  header ul {
    list-style-type: none; }
    header ul li {
      display: inline-block;
      padding: 0 4px 16px 0;
      margin: 16px 24px 0 0;
      font-size: 14px;
      line-height: 1.4em;
      color: #CCC;
      text-transform: uppercase;
      font-weight: 400;
      border-left: 1px solid transparent; }
      header ul li.fr, header ul li.fr a {
        border-left: 0px solid transparent;
        text-align: right;
        margin-right: 0; }
        header ul li.fr span, header ul li.fr a span {
          color: #FFF;
          font-weight: 700; }
      header ul li.fr a {
        text-align: center; }
      header ul li.active {
        border-left: 1px solid #ff6666; }
        header ul li.active a {
          color: #FF6666;
          border-left: 1px solid transparent; }
      header ul li a {
        display: block;
        margin: 0;
        padding: 0 0 8px 8px;
        vertical-align: top;
        border-left: 1px solid #cccccc;
        color: #CCC;
        text-decoration: none;
        transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        /* Firefox 4 */
        -webkit-transition: all 0.2s ease-in;
        /* Safari and Chrome */
        -o-transition: all 0.2s ease-in;
        /* Opera */ }
        header ul li a:hover {
          color: #FF6666; }
        header ul li a.register:hover {
          color: #fff; }

.register {
  padding: 12px 16px;
  margin-left: 8px;
  color: #FFF;
  text-decoration: none;
  background: lightseagreen;
  -webkit-border-radius: 4px;
  /* Saf3+, Chrome */
  -moz-border-radius: 4px;
  /* FF1+ */
  border-radius: 4px;
  /* Opera 10.5, IE 9 */ }
  .register:hover {
    background: seagreen; }
  .register.challenges {
    display: block;
    width: 300px;
    margin: 24px auto 0 auto; }

.hero {
  background: transparent url("../../images/hero_background.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .hero img {
    margin: 0 auto;
    width: 287px;
    padding: 24px 0;
    display: block; }
  .hero p {
    margin-top: 16px; }
  .hero a {
    color: seagreen;
    text-decoration: none; }

footer {
  border-top: 1px solid #111111;
  background: #121212;
  padding: 12px 0;
  color: #FFF;
  font-size: 12px; }
  footer h2 {
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    line-height: 2em; }
  footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;
    color: #909090; }
    footer p.collab {
      color: #555555;
      font-size: 12px; }
      footer p.collab a {
        color: #555555; }
    footer p a {
      display: inline;
      color: #909090;
      text-decoration: none; }
      footer p a:hover {
        color: #FFF; }
  footer ul {
    margin: 1px auto; }
    footer ul li {
      float: left;
      margin: 0 3px 3px 0;
      display: block;
      width: 316px; }
      footer ul li a {
        padding: 10px 10px 5px 10px;
        display: block;
        background: #232323;
        border: 1px solid #222222;
        -webkit-border-radius: 4px;
        /* Saf3+, Chrome */
        -moz-border-radius: 4px;
        /* FF1+ */
        border-radius: 4px;
        /* Opera 10.5, IE 9 */ }
        footer ul li a img {
          width: 100%; }

.themovement {
  padding: 48px 0;
  width: 763px;
  text-align: center;
  margin: 0 auto; }
  .themovement h2 {
    color: #FF6666;
    font-size: 80px;
    line-height: 1em;
    margin: 0; }
  .themovement h3 {
    font-size: 32px;
    color: #FF6666;
    line-height: 1.6em;
    font-weight: 300; }
  .themovement h4 {
    line-height: 2em;
    font-size: 24px; }
  .themovement p {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 1.6em; }
  .themovement .register {
    width: 176px;
    margin: 0 auto;
    display: block;
    font-size: 18px; }

.aboutContent {
  width: 568px;
  text-align: left; }
  .aboutContent p {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 1em; }

.aboutInfo {
  margin-top: 38px;
  width: 175px;
  margin-left: 20px;
  color: #FF6666;
  text-align: left; }
  .aboutInfo h5 {
    font-size: 16px;
    color: #232124;
    line-height: 2em;
    font-weight: 300; }
  .aboutInfo .register {
    text-align: center;
    margin-top: 44px; }

.col1, .col2 {
  width: 371px;
  margin-right: 19px;
  margin-left: 99px; }

.col2 {
  margin-right: 0;
  margin-left: 0; }

.videoWrap {
  width: 796px;
  margin: 24px auto;
  background: black; }
  .videoWrap h3 {
    color: #FF6666;
    font-weight: 300;
    font-size: 20px; }
  .videoWrap p {
    font-weight: 300;
    font-size: 16px;
    margin-top: 1em; }
  .videoWrap .vdiscript {
    color: #FFF;
    width: 196px;
    padding: 20px; }

.whowhat {
  width: 763px;
  margin: 0 auto;
  text-align: center; }
  .whowhat h2 {
    color: #FF6666;
    margin: 0.675em 0; }
  .whowhat a {
    color: #FFF;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    margin-bottom: 1em;
    margin-left: 24px; }
  .whowhat p, .whowhat ul {
    color: #FFF;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    margin-bottom: 1em; }
  .whowhat ul {
    margin-left: 24px;
    text-align: left; }

.sponsorInfo {
  width: 762px;
  margin: 24px auto;
  font-weight: 300;
  line-height: 2em; }
  .sponsorInfo h2 {
    color: #FF6666; }
    .sponsorInfo h2 span {
      color: #222; }
  .sponsorInfo ul {
    margin-left: 20px;
    margin-bottom: 24px;
    color: #515151; }
  .sponsorInfo p strong {
    font-weight: 400; }
  .sponsorInfo a {
    font-weight: 400;
    color: #555;
    text-decoration: none; }
    .sponsorInfo a:hover {
      color: seagreen; }

.organizers {
  width: 867px;
  margin: 24px auto; }
  .organizers h2 {
    color: #FF6666;
    font-size: 48px;
    line-height: 1em;
    margin: 0.5em 0;
    text-align: center; }
  .organizers .organizer {
    width: 410px;
    margin: 0 0 8px 20px;
    margin-bottom: 24px;
    color: #515151;
    font-weight: 300;
    text-align: center; }
  .organizers .lrgpartner {
    margin: 0 0 8px 174px;
    width: 512px;
    display: block;
    border: 1px solid #cccccc;
    background: #e7e7e7;
    line-height: 0;
    -webkit-border-radius: 4px;
    /* Saf3+, Chrome */
    -moz-border-radius: 4px;
    /* FF1+ */
    border-radius: 4px;
    /* Opera 10.5, IE 9 */ }
    .organizers .lrgpartner img {
      -webkit-border-radius: 4px;
      /* Saf3+, Chrome */
      -moz-border-radius: 4px;
      /* FF1+ */
      border-radius: 4px;
      /* Opera 10.5, IE 9 */ }
  .organizers ul {
    width: 867px;
    margin: 16px auto 32px 60px; }
    .organizers ul li {
      float: left;
      margin: 0 8px 0 8px;
      display: block;
      width: 166px;
      border: 1px solid #cccccc;
      -webkit-border-radius: 4px;
      /* Saf3+, Chrome */
      -moz-border-radius: 4px;
      /* FF1+ */
      border-radius: 4px;
      /* Opera 10.5, IE 9 */ }
      .organizers ul li a {
        padding: 10px 10px 5px 10px;
        display: block;
        background: #e7e7e7;
        -webkit-border-radius: 4px;
        /* Saf3+, Chrome */
        -moz-border-radius: 4px;
        /* FF1+ */
        border-radius: 4px;
        /* Opera 10.5, IE 9 */ }
        .organizers ul li a img {
          width: 100%; }

.faqWrap {
  width: 763px;
  margin: 24px auto;
  color: #222; }
  .faqWrap .question {
    width: 274px; }
  .faqWrap .answer {
    width: 468px;
    margin-left: 20px;
    font-weight: 300; }
  .faqWrap p {
    margin-bottom: 1em; }
  .faqWrap a {
    font-weight: 400;
    color: #555;
    text-decoration: none; }
    .faqWrap a:hover {
      color: seagreen; }

#slideshow {
  margin: 20px auto 30px auto;
  position: relative;
  width: 750px;
  height: 502px;
  border: 3px solid black;
  overflow: hidden; }

#slideshow > div {
  position: absolute; }
  #slideshow > div img {
    width: 750px; }
