/* style.scss */
.ltgrid {
  background: url("../../images/lightgrid.gif") 0 0 repeat; }

.dknoise {
  background: url("../../images/darknoise.gif") 0 0 repeat; }

.txtlft {
  text-align: left; }

.txtrgt {
  text-align: right; }

body {
  background: #e9e9e9;
  line-height: 1.8em;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400; }

.container {
  width: 100%; }
  .container .inner {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    border: 1px solid transparent; }

header {
  background: black; }
  header ul {
    list-style-type: none; }
    header ul li {
      display: inline-block;
      padding: 24px 0;
      margin-right: 12px;
      color: #FFF;
      font-size: 12px;
      text-transform: uppercase; }
      header ul li a {
        padding: 12px 0;
        color: #FFF;
        text-decoration: none; }

.register {
  padding: 12px;
  color: #FFF;
  text-decoration: none;
  background: lightseagreen;
  -webkit-border-radius: 4px;
  /* Saf3+, Chrome */
  -moz-border-radius: 4px;
  /* FF1+ */
  border-radius: 4px;
  /* Opera 10.5, IE 9 */ }
  .register:hover {
    background: seagreen; }

.hero {
  background: transparent url("../../images/hero_background.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .hero img {
    margin: 0 auto;
    width: 287px;
    padding: 24px 0;
    display: block; }

footer {
  border-top: 1px solid #111111;
  background: #121212;
  text-align: center;
  padding: 12px 0;
  color: #FFF;
  font-size: 12px; }
  footer h2 {
    text-align: left;
    text-transform: uppercase; }
  footer p {
    margin: 0;
    padding: 4px 0; }
  footer ul {
    margin: 0 auto 32px auto; }
    footer ul li {
      display: inline-block;
      width: 188px;
      background: #E9E9E9;
      -webkit-border-radius: 4px;
      /* Saf3+, Chrome */
      -moz-border-radius: 4px;
      /* FF1+ */
      border-radius: 4px;
      /* Opera 10.5, IE 9 */ }

.inner.themovement {
  padding: 24px 0; }

.col1, .col2 {
  width: 371px;
  margin-right: 19px;
  margin-left: 99px; }

.col2 {
  margin-right: 0;
  margin-left: 0; }

.videoWrap {
  width: 796px;
  margin: 48px auto;
  background: black; }
  .videoWrap .vdiscript {
    color: #FFF;
    width: 196px;
    padding: 20px; }

.whowhat h2 {
  color: coral; }
.whowhat p, .whowhat ul {
  color: #FFF; }

.sponsorInfo {
  width: 762px;
  margin: 24px auto; }
  .sponsorInfo li {
    display: block; }
  .sponsorInfo p {
    margin-bottom: 2em; }

.organizers {
  width: 867px;
  margin: 24px auto; }
  .organizers .organizer {
    width: 273px; }

.faqWrap {
  width: 568px;
  margin: 24px auto;
  color: #222; }
  .faqWrap p, .faqWrap ul {
    font-size: 18px;
    margin-bottom: 2em;
    line-height: 1.8em; }
  .faqWrap ul {
    margin: 0 20px 20px 20px; }
    .faqWrap ul li {
      padding-left: 6px; }
  .faqWrap a {
    color: seagreen; }
